html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

app-root {
  width: 100%;
  height: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.router-container {
  margin: 10px;
  flex-wrap: wrap;
}

.nav-container {
  display: flex;
  flex-flow: column;
  a {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.spacer {
  margin-left: 10px;
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

.dialog-slider {
  width: 95% !important;
}

.text-error {
  color: red;
}

.table-spinner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  p {
    color: #673ab7;
    font-weight: bold;
    font-size: large;
    margin-top: 2.5vh;
  }
}

.page-spinner {
  margin-left: 37vw;
  margin-top: 10vh;
}

.primary-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.card-container {
  width: 70vw;
  height: fit-content;
}
