.container {
  height: calc(100% - 5vh);
}

.home-header {
  display: flex;
  width: 100%;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1vh;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2%;
}

.hero-item {
  flex-basis: 23%;
  margin-top: 5vh;
}

.fav-icon {
  color: gold;
}
